{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top: 20px">
    <h1>OOP Glossary</h1>
    <hr>

    <div>
        <div class="card">
            <div class="card-header"><h4>Terms</h4></div>
            <div class="card-body">
                <p>instantiation - To create an instance of an object.</p>
                <p>object - An abstract data type that holds data and has behavior.
                <p>class - A template for creating objects with specific data types and behaviors.</p>
                <p>namespace - </p>
                <p>constructor - used to initialize an object.</p>
                <p>fixture - sample data typically used to fill up databases for testing.</p>
                <p>type hint - used to indicate what type of data is required to be passed. </p>
                <p>type cast - used to change one data type into another data type.</p>
                <p>unit test - used to test code to make sure that any changes to the code does not break the way the code is meant to function.</p>
                <p>static - </p>
                <p>instance method</p>
                <p>instance property</p>
                <p>static method</p>
                <p>static property</p>
                <p>encapsulation</p>
                <p>inheritance</p>
                <p>polymorphism</p>
                <p>abstraction</p>
                <p>Overview of SOLID</p>
                <p>Overview of Design Patterns</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}