{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top: 20px">
    <h1>Python / Flask</h1>
    <hr>

    <div>
        <div class="card">
            <div class="card-header"><h4>Testing with Pytest</h4></div>
            <div class="card-body">
                <p>Testing with Pytest is very useful to make sure that components did not break and that everything is working as intended. In order to run the test open up a terminal inside the container and execute <code>pytest -vv</code> this will run all tests created in the <var>tests</var> folder inside the project.</p>

                <p>To test that each page is accessible this test is executed to make sure its accessible and has the Section title on there. Here is an example of that such test for the Git page.</p>

                <pre><code>def test_request_page1(client):
    """This checks page 1"""
    response = client.get("/page1")
    assert response.status_code == 200
    assert b"Git" in response.data</code></pre>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Simple Pages</h4></div>
            <div class="card-body">
                <p>Using Simple Pages allows creating a base HTML file which have the navbar and footer then the different content pages are put in the middle allowing for a uniform page look without having to copy and paste code everywhere. It makes editing the navbar easy instead of having to change every file, only one file needs to be changed which is the file that has the HTML for it.</p>

                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a href="https://github.com/ji64/is218-flask-webapp" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">GitHub</button></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">Flask</button></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="https://flask.palletsprojects.com/en/2.0.x/blueprints/" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">Flask Blueprint</button></a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a href="https://flask.palletsprojects.com/en/2.0.x/testing/" target="_blank" rel="noopener noreferrer"><button type="button" class="btn btn-primary">Flask Testing With Pytest</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Project Outline</h4></div>
            <div class="card-body">
                <ul>
                    <li>Root Folder
                        <ul>
                            <li>.github
                                <ul>
                                    <li>workflows
                                        <ul>
                                            <li>development.yml - workflow file for triggering deployments of the development environment</li>
                                            <li>production.yml - workflow file for triggering deployments of the production environment</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>app
                                <ul>
                                    <li>simple_pages
                                        <ul>
                                            <li>templates
                                                <ul>
                                                    <li>index.html - the default page of the website that is accessed</li>
                                                    <li>page1.html - webpage about Git</li>
                                                    <li>page2.html - webpage about Docker</li>
                                                    <li>page3.html - webpage about Python / Flask</li>
                                                    <li>page4.html - webpage about CI/CD</li>
                                                </ul>
                                            </li>
                                            <li>__init__.py - generates the HTML file being requested</li>
                                        </ul>
                                    </li>
                                    <li>static
                                        <ul>
                                            <li>css
                                                <ul>
                                                    <li>style.css - style sheet for dictating how the webpage will look</li>
                                                </ul>
                                            </li>
                                            <li>images
                                                <ul>
                                                    <li>Proxmox.png</li>
                                                    <li>MAAS.png</li>
                                                    <li>Portainer.png</li>
                                                    <li>Unifi.png</li>
                                                </ul>
                                            </li>
                                            <li>js
                                                <ul>
                                                    <li>style.js - file containing any javascript implemented on the page</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>templates
                                        <ul>
                                            <li>base.html - base HTML file which provides the initialization of bootstrap,the   navbar and the footer</li>
                                        </ul>
                                    </li>
                                    <li>__init__.py - initializing flask</li>
                                    <li>run.py - starting simple pages</li>
                                </ul>
                            </li>
                            <li>calculator
                                <ul>
                                    <li>operations
                                        <ul>
                                            <li>__init__.py - holds operations for the Calculator project</li>
                                        </ul>
                                    </li>
                                    <li>__inti__.py - creates the calculator</li>
                                </ul>
                            </li>
                            <li>tests
                                <ul>
                                    <li>__init__.py</li>
                                    <li>calculator_test.py - calculator tests</li>
                                    <li>conftest.py - checks if the app is running</li>
                                    <li>operations_test.py - checks the operations for calculator</li>
                                    <li>simple_pages_test.py - checks to see if webpages load</li>
                                </ul>
                            </li>
                            <li>.coveragerc - config file for coverage</li>
                            <li>.dockerignore - files docker should ignore</li>
                            <li>.gitignore - files git should ignore</li>
                            <li>.pylintrc - config file for pylint</li>
                            <li>docker-compose.yml - Orchestration file that contains the configuration to develop locally, it overrides the Dockerfile to run the flask development server instead of running the gunicorn server that is used for hosting on Heroku</li>
                            <li>Dockerfile - file used to create the docker image</li>
                            <li>heroku.yml configuration for how heroku should run</li>
                            <li>pytest.ini pytest config file</li>
                            <li>readme.md - describes the project</li>
                            <li>requirements.txt - used for building the docker image</li>
                            <li>setup.py - used for building the docker image</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}