{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top: 20px">
    <h1>Continuous Integration and Deployment</h1>
    <hr>

    <div>
        <div class="card">
            <div class="card-header"><h4>Branches</h4></div>
            <div class="card-body">Content</div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Merge</h4></div>
            <div class="card-body">Content</div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Commit</h4></div>
            <div class="card-body">Content</div>
        </div>
        <div class="card">
            <div class="card-header"><h4>Repositories</h4></div>
            <div class="card-body">Content</div>
        </div>
    </div>
</div>
{% endblock %}