{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top: 20px">
    <h1>OOP Glossary</h1>
    <hr>

    <div>
        <div class="card">
            <div class="card-header"><h4>Terms</h4></div>
            <div class="card-body">
                <p>instantiation - To create an instance of an object.</p>
                <p>object - An abstract data type that holds data and has behavior.
                <p>class - A template for creating objects with specific data types and behaviors.</p>
                <p>namespace - provides a region which class, methods, and variables can be called from.</p>
                <p>constructor - used to initialize an object.</p>
                <p>fixture - sample data typically used to fill up databases for testing.</p>
                <p>type hint - used to indicate what type of data is required to be passed. </p>
                <p>type cast - used to change one data type into another data type.</p>
                <p>unit test - used to test code to make sure that any changes to the code does not break the way the code is meant to function.</p>
                <p>static - its lifetime is the entire length of the programs runtime.</p>
                <p>instance method - methods that belong to an object.</p>
                <p>instance property - variables that belong to an object</p>
                <p>static method - methods that belong to a class</p>
                <p>static property - variables that belong to a class</p>
                <p>encapsulation - classes and methods that prevent direct access to variables.</p>
                <p>inheritance - allows classes to inherit methods and variables from parent classes.</p>
                <p>polymorphism - ability to use multiple different types of object through one interface</p>
                <p>abstraction - used to hide unnecessary data that the user's don't need to see</p>
                <p>Overview of SOLID - principles in which code following OOP should be designed</p>
                <p>Overview of Design Patterns - templates used in order to solve problems.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}